body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

 .title-section {
  text-align: center;
  background-color: rgb(white);
  padding: 0px;
} 


#idGridContainer {
  display: grid;
  grid-template-columns: 1fr .5fr;
}

#idSummaryPanel {
  background-color: rgb(white);
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 0fr 1fr 4fr;
  gap: 15px 15px;
  text-align:left;
  padding:10px;
  margin-left:20px
}

.hidden {
  visibility: hidden;
}

.subheading {
  grid-column-start: span 2;
}

.subheading2 {
  text-align: left;
} 

.form > * > *{
  margin: 0px 10px 0px 0px;
}

#idAccountList {
  list-style-type: none;
  background-color: lightgray;
  padding-top: 20px;
}

.list-section {
grid-row-start: span 2;
}

#idNewAccountName {
  width: 100px;
}

#idAccountMessage {
  color: rgb(214, 6, 23);
}


#idCardPanel {
  background-color: #DDE4FF;
  height: 700px;
  text-align:center;
  padding: 10px;
}

.card {
  background-color: rgb(0, 162, 255);
  /* background-color: rgb(255, 187, 155); */
  margin: 30px;
  padding: 20px;
  border-radius: 5px;
}
.card > * {
  margin: 15px 3px 5px 3px;
}


/* --- To remove arrow buttons on number input--- */
.amount-input-dollar::-webkit-outer-spin-button,
.amount-input-dollar::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
.amount-input-dollar[type=number] {
  -moz-appearance:textfield; /* For Firefox */
  width: 5em;
}

/* --- Add dollar sign to number field --- */
.input-symbol-dollar {
  position: relative;
}
.input-symbol-dollar input {
  padding-left:13px;
  width: 7em;
}
.input-symbol-dollar:before {
  position: absolute;
  top: 1px;
  content:"$";
  left: 5px;
  color: black;
}